.container {
    background-color: #FBF6E2; /* Light background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

h2 {
    color: #131842; /* Purple text color */
    margin-bottom: 20px;
}

h4 {
    color: #131842; /* Purple text color */
    margin-top: 20px;
    margin-bottom: 10px;
}

.list-group-item {
    background-color: #ECCEAE; /* Beige background for list items */
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.btn-secondary {
    background-color: #E68369; /* Red button */
    border: none;
    color: #FBF6E2; /* Light text */
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-secondary:hover {
    background-color: #CF6756; /* Darker red on hover */
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ECCEAE; /* Beige border */
    border-radius: 4px;
    margin-top: 10px;
}

.btn-primary {
    background-color: #131842; /* Purple button */
    border: none;
    color: #FBF6E2; /* Light text */
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #0E0F30; /* Darker purple on hover */
}
